<!DOCTYPE html>
<html>
    <head>
        <title>Data Visualization</title>
        <link rel="stylesheet" href="static/css/index.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src = "https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src = "static/js/index.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {packages: ['corechart']});     
        </script>
    </head>
    <body>

    <div style="width: 100% !important; height: 700px;" class="container">
        <div>
            <center>
                <h2>DATA VISUALIZATION GRAPHS</h2>
            </center>
        </div>
        <div id = "sex" class = "sex_style">
        </div>
        <div id = "relationship" class="relationship_style">
        </div>

        <div class="next_button_div">
            <form method="get" action="/data_row">
                <button type="submit" class="next_button">See data row</button>
            </form>
        </div>
        <script type="text/javascript">
            google.charts.setOnLoadCallback(drawsexChart);
            google.charts.setOnLoadCallback(drawrelationChart);
        </script>
    </div>
    </body>
</html>